When an existing SharePoint list item is modified, complete a custom action (1).json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"sharepointonline_Connection_Name":{"defaultValue":"sharepointonline","type":"String","metadata":{"description":"Name of the connection."}},"wordonlinebusiness_Connection_Name":{"defaultValue":"wordonlinebusiness","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","dependsOn":["[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('wordonlinebusiness_Connection_Name'))]"],"properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"sharepoint.site":{"defaultValue":"","type":"String"},"sharepoint.list":{"defaultValue":"","type":"String"}},"triggers":{"When_an_item_is_created_or_modified":{"recurrence":{"frequency":"Minute","interval":3},"metadata":{"operationMetadataId":"f6ff0793-a395-4194-a4c8-2dce73de9518","flowSystemMetadata":{"swaggerOperationId":"GetOnUpdatedItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://5kpsc2-my.sharepoint.com/personal/madhuc_5kpsc2_onmicrosoft_com'))}/tables/@{encodeURIComponent(encodeURIComponent('f3cb2fc1-1dfd-4e7f-926d-4c387c9892cf'))}/onupdateditems","authentication":"@parameters('$authentication')"}}},"actions":{"Apply_to_each":{"foreach":"@triggerBody()?['value']","actions":{"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"22f4bf80-1ee9-405c-8504-4d04fb97b150","flowSystemMetadata":{"swaggerOperationId":"GetItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://5kpsc2-my.sharepoint.com/personal/madhuc_5kpsc2_onmicrosoft_com'))}/tables/@{encodeURIComponent(encodeURIComponent('f3cb2fc1-1dfd-4e7f-926d-4c387c9892cf'))}/items/@{encodeURIComponent(items('Apply_to_each')?['ID'])}","authentication":"@parameters('$authentication')"}},"Send_an_HTTP_request_to_SharePoint":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_2":["Succeeded"]},"metadata":{"operationMetadataId":"309bd1d0-5b9e-45af-bb97-85c792cc71e8","flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"post","body":{"method":"GET","uri":"_api/web/lists/getbytitle('survey_data')/items?$filter=ID eq @{body('Get_item')?['ID']} &$select=signature,Assessmentfacilitator_x2019_ssig,Disabledperson_x2019_s_x002f_rep0,Carer_x2019_ssignature"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://5kpsc2-my.sharepoint.com/personal/madhuc_5kpsc2_onmicrosoft_com'))}/httprequest","authentication":"@parameters('$authentication')"}},"Get_file_content_using_path":{"runAfter":{"Send_an_HTTP_request_to_SharePoint":["Succeeded"]},"metadata":{"operationMetadataId":"e70bba81-5d3b-4592-8e9e-c0f6eac13a1f","flowSystemMetadata":{"swaggerOperationId":"GetFileContentByPath"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://5kpsc2-my.sharepoint.com/personal/madhuc_5kpsc2_onmicrosoft_com'))}/GetFileContentByPath","queries":{"path":"/SiteAssets/Lists/@{split(string(json(body('Send_an_HTTP_request_to_SharePoint').d.results[0]['signature'])['serverRelativeUrl']),'/')[sub(int(length(split(string(json(body('Send_an_HTTP_request_to_SharePoint').d.results[0]['signature'])['serverRelativeUrl']),'/'))),2)]}/@{split(string(json(body('Send_an_HTTP_request_to_SharePoint').d.results[0]['signature'])['serverRelativeUrl']),'/')[sub(int(length(split(string(json(body('Send_an_HTTP_request_to_SharePoint').d.results[0]['signature'])['serverRelativeUrl']),'/'))),1)]}","queryParametersSingleEncoded":true,"inferContentType":true},"authentication":"@parameters('$authentication')"}},"Populate_a_Microsoft_Word_template_2":{"runAfter":{"Get_file_content_using_path_-_carers_signature":["Succeeded"]},"metadata":{"01AWF3L5MOR5EQO7WZNVEL7M4TDE5XCGBW":"/NA Template.docx","operationMetadataId":"b26ab130-7f17-4636-9377-a9b96ebad6bb","flowSystemMetadata":{"swaggerOperationId":"CreateFileItem"},"01AWF3L5O36IZMXZEHDRBYUKNOWUOSDWDF":"/NA_Template.docx","01AWF3L5P5TEHKV5TIHRCKHMEPDDAYY25O":"/NA_Template.docx","017QK4KTUGIATPS4U5SVCIG6A2UBQLW56O":"/NA_Template.docx"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['wordonlinebusiness']['connectionId']"}},"method":"post","path":"/api/templates/getFile","queries":{"source":"sites/5kpsc2.sharepoint.com,da919c78-bd75-4628-9840-642271f0ba1f,6596e401-3144-4882-8593-0bd8e3e88854","drive":"b!eJyR2nW9KEaYQGQicfC6HwHklmVEMYJIhZML2OPoiFSuFxrkwZYSQIzZdi7_j1fp","file":"017QK4KTUGIATPS4U5SVCIG6A2UBQLW56O"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Create_file":{"runAfter":{},"metadata":{"operationMetadataId":"8b5f50f8-b31e-413e-be3d-299b56438ee6","flowSystemMetadata":{"swaggerOperationId":"CreateFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"post","body":"@body('Populate_a_Microsoft_Word_template_2')","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://ewscripps.sharepoint.com/sites/wordform'))}/files","queries":{"folderPath":"/worddocs/@{items('Apply_to_each')?['NHInumber']}","name":"@{items('Apply_to_each')?['NHInumber']}_v0.docx","queryParametersSingleEncoded":true},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"runAfter":{"Get_folder_metadata":["Succeeded","Failed"]},"else":{"actions":{"Get_files":{"runAfter":{},"metadata":{"operationMetadataId":"d094e9b8-ad1e-4c93-a66e-bdcfe5830cbe","flowSystemMetadata":{"swaggerOperationId":"GetFileItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://ewscripps.sharepoint.com/sites/wordform'))}/tables/@{encodeURIComponent(encodeURIComponent('50c6b513-7295-4eca-a7cb-4a5ddd37f729'))}/getfileitems","queries":{"folderPath":"/worddocs/@{items('Apply_to_each')?['NHInumber']}"},"authentication":"@parameters('$authentication')"}},"Create_file_-_create_next_version_file":{"runAfter":{"Get_files":["Succeeded"]},"metadata":{"operationMetadataId":"2b1b55d4-30fb-47a8-8e09-6b825414ffc4","flowSystemMetadata":{"swaggerOperationId":"CreateFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"post","body":"@body('Populate_a_Microsoft_Word_template_2')","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://ewscripps.sharepoint.com/sites/wordform'))}/files","queries":{"folderPath":"/worddocs/@{items('Apply_to_each')?['NHInumber']}","name":"@{items('Apply_to_each')?['NHInumber']}_v@{length(body('Get_files')?['value'])}.docx","queryParametersSingleEncoded":true},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}}},"expression":{"equals":["@if(contains(string(body('Get_folder_metadata')),'status'),'y','n')","y"]},"metadata":{"operationMetadataId":"4efbf22b-4a6f-479e-bfa5-18368f2caa56"},"type":"If"},"Get_folder_metadata":{"runAfter":{"Populate_a_Microsoft_Word_template_2":["Succeeded"]},"metadata":{"operationMetadataId":"13f5a40e-1398-41fa-b99c-934feb465fa7","flowSystemMetadata":{"swaggerOperationId":"GetFolderMetadata"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://ewscripps.sharepoint.com/sites/wordform'))}/GetFolder","queries":{"id":"/worddocs/@{items('Apply_to_each')?['NHInumber']}"},"authentication":"@parameters('$authentication')"}},"Get_file_content_using_path_-assesssment_":{"runAfter":{"Get_file_content_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"65cec7b5-6b75-42cc-8ff9-4516b2461f4c","flowSystemMetadata":{"swaggerOperationId":"GetFileContentByPath"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://5kpsc2-my.sharepoint.com/personal/madhuc_5kpsc2_onmicrosoft_com'))}/GetFileContentByPath","queries":{"path":"/SiteAssets/Lists/@{split(string(json(body('Send_an_HTTP_request_to_SharePoint').d.results[0]['Assessmentfacilitator_x2019_ssig'])['serverRelativeUrl']),'/')[sub(int(length(split(string(json(body('Send_an_HTTP_request_to_SharePoint').d.results[0]['Assessmentfacilitator_x2019_ssig'])['serverRelativeUrl']),'/'))),2)]}/@{split(string(json(body('Send_an_HTTP_request_to_SharePoint').d.results[0]['Assessmentfacilitator_x2019_ssig'])['serverRelativeUrl']),'/')[sub(int(length(split(string(json(body('Send_an_HTTP_request_to_SharePoint').d.results[0]['Assessmentfacilitator_x2019_ssig'])['serverRelativeUrl']),'/'))),1)]}","queryParametersSingleEncoded":true,"inferContentType":true},"authentication":"@parameters('$authentication')"}},"Get_file_content_using_path_-_Disabledperson":{"runAfter":{"Get_file_content_using_path_-assesssment_":["Succeeded"]},"metadata":{"operationMetadataId":"78c8e277-33ec-44f1-9122-26755411350d","flowSystemMetadata":{"swaggerOperationId":"GetFileContentByPath"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://5kpsc2-my.sharepoint.com/personal/madhuc_5kpsc2_onmicrosoft_com'))}/GetFileContentByPath","queries":{"path":"/SiteAssets/Lists/@{split(string(json(body('Send_an_HTTP_request_to_SharePoint').d.results[0]['Disabledperson_x2019_s_x002f_rep0'])['serverRelativeUrl']),'/')[sub(int(length(split(string(json(body('Send_an_HTTP_request_to_SharePoint').d.results[0]['Disabledperson_x2019_s_x002f_rep0'])['serverRelativeUrl']),'/'))),2)]}/@{split(string(json(body('Send_an_HTTP_request_to_SharePoint').d.results[0]['Disabledperson_x2019_s_x002f_rep0'])['serverRelativeUrl']),'/')[sub(int(length(split(string(json(body('Send_an_HTTP_request_to_SharePoint').d.results[0]['Disabledperson_x2019_s_x002f_rep0'])['serverRelativeUrl']),'/'))),1)]}","queryParametersSingleEncoded":true,"inferContentType":true},"authentication":"@parameters('$authentication')"}},"Get_file_content_using_path_-_carers_signature":{"runAfter":{"Get_file_content_using_path_-_Disabledperson":["Succeeded"]},"metadata":{"operationMetadataId":"07c3b5fb-829b-40bb-8a04-ba9e1dae3605","flowSystemMetadata":{"swaggerOperationId":"GetFileContentByPath"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://5kpsc2-my.sharepoint.com/personal/madhuc_5kpsc2_onmicrosoft_com'))}/GetFileContentByPath","queries":{"path":"/SiteAssets/Lists/@{split(string(json(body('Send_an_HTTP_request_to_SharePoint').d.results[0]['Carer_x2019_ssignature'])['serverRelativeUrl']),'/')[sub(int(length(split(string(json(body('Send_an_HTTP_request_to_SharePoint').d.results[0]['Carer_x2019_ssignature'])['serverRelativeUrl']),'/'))),2)]}/@{split(string(json(body('Send_an_HTTP_request_to_SharePoint').d.results[0]['Carer_x2019_ssignature'])['serverRelativeUrl']),'/')[sub(int(length(split(string(json(body('Send_an_HTTP_request_to_SharePoint').d.results[0]['Carer_x2019_ssignature'])['serverRelativeUrl']),'/'))),1)]}","queryParametersSingleEncoded":true,"inferContentType":true},"authentication":"@parameters('$authentication')"}},"Send_an_HTTP_request_to_SharePoint_2":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"operationMetadataId":"6c48299a-4c72-4cfa-be7f-010b9e753f5f","flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"post","body":{"method":"GET","uri":"_api/web/lists/getbytitle('survey_data')/items?"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://5kpsc2-my.sharepoint.com/personal/madhuc_5kpsc2_onmicrosoft_com'))}/httprequest","authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"80b81a0f-0d96-4b19-9ce5-48a39545fbfc"},"type":"Foreach"}},"description":"Create a custom action to happen when an existing item is modified in a SharePoint list. It could be sending an email, copying the item to a folder or web service, or something else you decide."},"parameters":{"$connections":{"value":{"sharepointonline":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]","connectionName":"[parameters('sharepointonline_Connection_Name')]"},"wordonlinebusiness":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'wordonlinebusiness')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('wordonlinebusiness_Connection_Name'))]","connectionName":"[parameters('wordonlinebusiness_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":5000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"},"usageConfiguration":{"name":"USER-15649F592D9344BDA7E29E877EBA2EDB"}},"integrationAccount":{"name":"d87fdbe602914a3ba406c5154679d947-southeastasia","id":"subscriptions/e9bc7b8d-bb95-4e7a-baf8-230462d93177/resourceGroups/d87fdbe602914a3ba406c5154679d947-ia/providers/Microsoft.Logic/integrationAccounts/d87fdbe602914a3ba406c5154679d947-southeastasia","type":"Microsoft.Logic/integrationAccounts"}}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('sharepointonline_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]"},"displayName":"[parameters('sharepointonline_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('wordonlinebusiness_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'wordonlinebusiness')]"},"displayName":"[parameters('wordonlinebusiness_Connection_Name')]"}}]}